.firstHeader {
    text-align: center;
}

form {
    margin: auto;
    text-align: center;
}
.list {
    list-style-type: none;
}
.directions{
    text-align: center;
}
::placeholder {
    color: green;

}
label {
    display: none;
}